extends layout

block content
  h1 Recent results
  h3 Fionia cup
  .list-group
    a.list-group-item(href='/results/1')
      h4.list-group-item-heading SP1, large
      p.list-group-item-text Aug 20th 2013
    a.list-group-item(href='/results/1')
      h4.list-group-item-heading SP2, large
      p.list-group-item-text Aug 20th 2013
    a.list-group-item(href='/results/1')
      h4.list-group-item-heading SP3, large
      p.list-group-item-text Aug 20th 2013
    a.list-group-item(href='/results/1')
      h4.list-group-item-heading AG1, large
      p.list-group-item-text Aug 20th 2013
