extends layout

block content
  .row
    .span12
      h1 Recent results
  .row
    ul.unstyled.span12
      li.result.round
        a(href='/results/1')
          h2 SP1, large
          div Fionia cup, Aug 20th 2013
      li.result.round
        a(href='/results/1')
          h2 SP2, large
          div Fionia cup, Aug 20th 2013
      li.result.round
        a(href='/results/1')
          h2 SP3, large
          div Fionia cup, Aug 20th 2013
      li.result.round
        a(href='/results/1')
          h2 AG1, large
          div Fionia cup, Aug 20th 2013
