doctype 5
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
  body
    .navbar
      .container
          a.navbar-brand(href="/") Agility Sport
          button.navbar-toggle(type="buttom", data-toggle="collapse", data-target=".navbar-responsive-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          .nav-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav.pull-right
              li
                a(href="#") Create result collection
    .container
      block content
    script(src="http://code.jquery.com/jquery.js")
    script(src="/javascripts/bootstrap.min.js")