doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      div.container
        div
          a(href='/').brand Agility Sport
    div.content
      div.container
        block content